@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">        
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/ads.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    SISTEMA DE SUPORTE A VENDAS - PROJETO INTEGRADO - USCS                    
                </p>
            </div>
        </div>        
    </div>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Deselvolvido por:</h2>
        <ul>
            <li>Leonardo Luiz Alonso / RA: 706841-4</li>
            <li>Leonardo Arancibia de Oliveira / RA: 713397-8</li>
        </ul>
    </div>
   
    <div class="col-md-4">
        <h2>Manual de operação</h2>
        <ul>
            <li><a asp-action="Manual">Manual de operação</a></li>            
        </ul>
    </div>
    
</div>
