@{
    ViewData["Title"] = "Manual de operação";
}
<h1>@ViewData["Title"]</h1>

<h2>O sistema permite em suas determinadas páginas:</h2>
<ul>
    <li>Incluir vendedores.</li>
    <li>Alterar vendedores.</li>
    <li>Consultar vendedores.</li>
    <li>Excluir vendedores.</li>
    <li>Incluir departamentos.</li>
    <li>Alterar departamentos.</li>
    <li>Consultar departamentos.</li>
    <li>Excluir departamentos.</li>
    <li>Incluir vendas.</li>
    <li>Alterar vendas.</li>
    <li>Consultar vendas.</li>
    <li>Excluir vendas.</li>
    <li>Realizar consultas simples.</li>
    <li>Realizar consultas agrupadas.</li>   
</ul>





